body{
background:#0b1d3a;
color:white;
}

.hero{
height:100vh;
display:flex;
align-items:center;
justify-content:center;
background:linear-gradient(#0b1d3a,#1a237e);
}

.custom-card{
background:white;
color:black;
border-radius:15px;
transition:0.3s;
}

.custom-card:hover{
transform:scale(1.05);
}

.btn-warning{
background:#ff6600;
}
